<div class="row">

    <div class="col-md-8 offset-md-2">

        <div class="card">

            <div class="card-header bg-dark">
                <h4 class="text-center text-white">
                    Editar Estudiante [ {{ estudiante.nombre }} ]
                </h4>
            </div>

            <div class="card-body">
                <div class="form-group">

                    <label for="nombre">Nombre</label>
                    <input type="text" id="nombre" class="form-control" placeholder="Ingresar nombre" #nombre value="{{ estudiante.nombre }}">

                </div>
                <div class="form-group">

                    <label for="nota1">Nota1</label>
                    <input type="text" id="nota1" class="form-control" placeholder="Ingresar nota1" #nota1 value="{{ estudiante.nota1 }}">

                </div>
                <div class="form-group">

                    <label for="nota2">Nota2</label>
                    <input type="text" id="nota2" class="form-control" placeholder="Ingresar nota2" #nota2 value="{{ estudiante.nota2 }}">

                </div>
                <div class="form-group">

                    <label for="nota3">Nota3</label>
                    <input type="text" id="nota3" class="form-control" placeholder="Ingresar nota3" #nota3 value="{{ estudiante.nota3 }}">

                </div>
            </div>

            <div class="card-footer">
                <div class="row">
                    <div class="col-md-6 p-1">
                        <a class="btn btn-danger btn-block" [routerLink]="['/estudiantes']">Cancelar</a>
                    </div>
                    <div class="col-md-6 p-1">
                        <button class="btn btn-primary btn-block" (click)="guardar(nombre.value, nota1.value, nota2.value, nota3.value)">Ingresar</button>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>
